<div class="industry-modal js-modal" id="industry-modal">
    <div class="industry-modal__inner">
        <button class="industry-modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <ul class="industry-modal__list">
            <li class="industry-modal__list-item">
                <div class="industry-modal__card">
                    <h3 class="industry-modal__card-heading">
                        SIGMA Торговля
                    </h3>
                    <ul class="industry-modal__card-list">
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/1.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Продуктовые магазины
                            </div>
                        </li>
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/2.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Магазины одежды, обуви
                            </div>
                        </li>
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/3.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Спортивные товары
                            </div>
                        </li>
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/4.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Цветы
                            </div>
                        </li>
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/5.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Книги и канцелярия
                            </div>
                        </li>
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/6.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Косметика и парфюмерия
                            </div>
                        </li>
                    </ul>
                    <div class="industry-modal__card-desc">
                        <p>
                            Управляйте складом и остатками, оптимизируйте закупки, чтобы иметь на полках актуальный
                            ассортимент. Продавайте и принимайте на склад маркированную продукцию
                        </p>
                    </div>
                </div>
            </li>
            <li class="industry-modal__list-item">
                <div class="industry-modal__card">
                    <h3 class="industry-modal__card-heading">
                        SIGMA Еда
                    </h3>
                    <ul class="industry-modal__card-list">
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/7.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Небольшие рестораны
                            </div>
                        </li>
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/8.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Кафе, бары, закусочные
                            </div>
                        </li>
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/9.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Пекарни и кофейни
                            </div>
                        </li>

                    </ul>
                    <div class="industry-modal__card-desc">
                        <p>
                            Управляйте производством, номенклатурой, создавайте технологические карты, документы
                            производства и списания, управляйте модификаторами и вариациями
                        </p>
                    </div>
                </div>
            </li>
            <li class="industry-modal__list-item">
                <div class="industry-modal__card">
                    <h3 class="industry-modal__card-heading">
                        SIGMA Услуги
                    </h3>
                    <ul class="industry-modal__card-list">
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/10.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Салоны красоты и барбершопы
                            </div>
                        </li>
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/11.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Мастерские
                            </div>
                        </li>
                        <li class="industry-modal__card-list-item">
                            <div class="industry-modal__card-icon">
                                <img src="img/industry/12.svg" alt="" class="industry-modal__card-icon-image">
                            </div>
                            <div class="industry-modal__card-text">
                                Автосервисы
                            </div>
                        </li>

                    </ul>
                    <div class="industry-modal__card-desc">
                        <p>
                            Управляйте производством, номенклатурой, создавайте технологические карты, документы
                            производства и списания, управляйте модификаторами и вариациями
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>