<aside class="page-sidebar">
    <div class="container">


        <div class="page-sidebar__inner">
            <a href="#intro" class="page-sidebar__logo">
                <img src="img/logo.svg" alt="" class="page-sidebar__logo-image">
            </a>
            <div class="page-sidebar__burger-menu">
                <div class="container">
                    <nav class="page-sidebar__nav">
                        <ul class="page-sidebar__nav-list">
                            <li class="page-sidebar__nav-list-item">
                                <a href="#business" class="page-sidebar__nav-link">
                                    <div class="page-sidebar__nav-link-text">
                                        Подобрать кассу
                                    </div>
                                </a>
                            </li>
                            <li class="page-sidebar__nav-list-item">
                                <a href="#solutions" class="page-sidebar__nav-link">
                                    <div class="page-sidebar__nav-link-text">
                                        Наши решения
                                    </div>
                                </a>
                            </li>
                            <li class="page-sidebar__nav-list-item">
                                <a href="#" class="page-sidebar__nav-link">
                                    <div class="page-sidebar__nav-link-text">
                                        ПО для бизнеса
                                    </div>
                                </a>
                            </li>
                            <li class="page-sidebar__nav-list-item">
                                <a href="#partners" class="page-sidebar__nav-link">
                                    <div class="page-sidebar__nav-link-text">
                                        Партнеры
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="page-sidebar__burger-menu-contacts">
                        <div class="page-sidebar__burger-menu-contacts-links">
                            <a href="tel:+74957237420" class="page-sidebar__burger-menu-contacts-link">+7 (495)
                                723-74-20</a>
                            <a href="mailto:atol.@mail.ru"
                                class="page-sidebar__burger-menu-contacts-link">atol.@mail.ru</a>
                        </div>
                        <ul class="page-sidebar__burger-menu-social-list">
                            <li class="page-sidebar__burger-menu-social-list-item">
                                <a href="#" class="page-sidebar__burger-menu-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-social-youtube">
                                        <use xlink:href="#social-youtube"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-sidebar__burger-menu-social-list-item">
                                <a href="#" class="page-sidebar__burger-menu-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-social-instagram">
                                        <use xlink:href="#social-instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-sidebar__burger-menu-social-list-item">
                                <a href="#" class="page-sidebar__burger-menu-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-social-facebook">
                                        <use xlink:href="#social-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-sidebar__burger-menu-social-list-item">
                                <a href="#" class="page-sidebar__burger-menu-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-social-telegram">
                                        <use xlink:href="#social-telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-sidebar__burger-menu-social-list-item">
                                <a href="#" class="page-sidebar__burger-menu-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-social-vk">
                                        <use xlink:href="#social-vk"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-sidebar__contacts">
                <div class="page-sidebar__contacts-links">
                    <a href="tel:+74957237420" class="page-sidebar__contacts-link">+7 (495) 723-74-20</a>
                    <a href="mailto:atol.@mail.ru" class="page-sidebar__contacts-link">atol.@mail.ru</a>
                </div>
                <div class="page-sidebar__languages">
                    <a href="#" class="page-sidebar__languages-link active">
                        RU
                    </a>
                    <a href="#" class="page-sidebar__languages-link">
                        ky
                    </a>
                </div>
            </div>
            <button class="page-sidebar__burger">
                <div class="page-sidebar__burger-closed">
                    <svg width="14" height="14" aria-hidden="true" class="icon-burger">
                        <use xlink:href="#burger"></use>
                    </svg>
                </div>
                <div class="page-sidebar__burger-open">
                    <svg width="14" height="14" aria-hidden="true" class="icon-close">
                        <use xlink:href="#close"></use>
                    </svg>
                </div>

            </button>
        </div>
    </div>
</aside>