.demo {
    @include breakpointMF(small-tablet) {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    @include breakpoint(mobile) {
        margin-bottom: 7rem;
    }
}

.demo__content {
    @include breakpointMF(small-tablet) {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
    }
}

.demo__video-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include breakpoint(mobile) {
        height: auto;
        position: relative;
        
        &::before {
            content: '';
            display: block;
            padding-bottom: 56.25%;
        }
    }
}

.demo__video-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
